<header class="cabecera">
	<div class="logo centrar-vertical"> <img src="images/pop-up-logo.png"> </div>
	<h1></h1>
</header>
<nav class="menu">
	<ul>
		<li><a href="/home">Home</a></li>
		<li><a href="/espacio">El Espacio</a></li>
		<li><a href="/eventos">Eventos</a></li>
		<li><a href="/blog">Blog</a></li>
		<li><a href="/nosotros">Sobre Nosotros</a></li>
		<li><a href="/contacto">Contacto</a></li>
	</ul>
</nav>	
	<section class="section">
		<article class="comentarioPadre">
			<h1>
				Hola del artículo 1
			</h1>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis sit deserunt tenetur dolor alias soluta sunt tempore fugiat fuga. Atque dicta labore suscipit, molestiae est unde modi eos placeat rerum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum dignissimos inventore magni architecto consequatur, praesentium dolorem ratione quia est accusantium debitis vel sequi, enim voluptatibus quae, ut fugiat omnis saepe! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit praesentium, saepe, odio autem magnam odit necessitatibus. Reiciendis natus officiis soluta molestiae illum explicabo delectus quas, expedita, vitae rerum similique. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, est, totam. Aliquam ducimus beatae voluptas officiis eveniet recusandae repudiandae fuga vel, ad molestias corporis porro. Inventore vitae asperiores harum totam! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi laborum, necessitatibus minus commodi non deleniti reiciendis, consectetur quod debitis ipsam nemo esse reprehenderit illum laudantium, excepturi eos, nam cupiditate consequatur.
			<div class="papi">
				<input class="barracoment">
				<button class="boton" onclick="newcoment()">Comentario</button>
			</div>	
		</article>
		<div class="complement"></div>
		<article class="comentarioPadre">
			<h1>
				Título del artículo 2
			</h1>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis sit deserunt tenetur dolor alias soluta sunt tempore fugiat fuga. Atque dicta labore suscipit, molestiae est unde modi eos placeat rerum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum dignissimos inventore magni architecto consequatur, praesentium dolorem ratione quia est accusantium debitis vel sequi, enim voluptatibus quae, ut fugiat omnis saepe! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit praesentium, saepe, odio autem magnam odit necessitatibus. Reiciendis natus officiis soluta molestiae illum explicabo delectus quas, expedita, vitae rerum similique. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, est, totam. Aliquam ducimus beatae voluptas officiis eveniet recusandae repudiandae fuga vel, ad molestias corporis porro. Inventore vitae asperiores harum totam! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi laborum, necessitatibus minus commodi non deleniti reiciendis, consectetur quod debitis ipsam nemo esse reprehenderit illum laudantium, excepturi eos, nam cupiditate consequatur.
			<div class="papi">
				<input class="barracoment">
				<button class="boton" onclick="newcoment()">Comentario</button>
			</div>	
		</article>
		<div class="complement"></div>
		<article class="comentarioPadre">
			<h1>
				Título del artículo 3
			</h1>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis sit deserunt tenetur dolor alias soluta sunt tempore fugiat fuga. Atque dicta labore suscipit, molestiae est unde modi eos placeat rerum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum dignissimos inventore magni architecto consequatur, praesentium dolorem ratione quia est accusantium debitis vel sequi, enim voluptatibus quae, ut fugiat omnis saepe! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit praesentium, saepe, odio autem magnam odit necessitatibus. Reiciendis natus officiis soluta molestiae illum explicabo delectus quas, expedita, vitae rerum similique. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, est, totam. Aliquam ducimus beatae voluptas officiis eveniet recusandae repudiandae fuga vel, ad molestias corporis porro. Inventore vitae asperiores harum totam! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi laborum, necessitatibus minus commodi non deleniti reiciendis, consectetur quod debitis ipsam nemo esse reprehenderit illum laudantium, excepturi eos, nam cupiditate consequatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo asperiores, nemo, quia fugiat natus, eius ex obcaecati sint aliquid ducimus aperiam impedit cupiditate saepe quis quae laborum reprehenderit nihil velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat nemo, accusantium atque, rem perferendis maxime esse. Nobis explicabo neque ab beatae accusamus. Repudiandae obcaecati ab esse excepturi quidem ad recusandae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit nostrum amet enim quia. Porro adipisci, dicta voluptatibus nihil ducimus nostrum, fugiat deserunt facilis illum ipsam nulla nisi fugit harum, distinctio!
			<div class="papi">
				<input class="barracoment">
				<button class="boton" onclick="newcoment()">Comentario</button>
			</div>	
		</article>
		<div class="complement"></div>
	</section>
	<footer class="fin">	
	<section class="redessociales centrar-vertical2">
		<div class="redes"><a href="https://www.facebook.com/"><img src="images/facebook.png"></div></a>
		<div class="redes"><a href="https://twitter.com/"><img src="images/twitter_bird.png"></div></a>
		<div class="redes"><a href="https://plus.google.com/"><img src="images/google_plus.png"></div></a>
		<div class="redes"><a href="https://www.youtube.com/"><img src="images/youtube.png"></div></a>
		<div class="redes"><a href=""><img src="images/rss.png"></div></a>

	</section>
	<section>
		<ul>
			<li><a href="/home">Home</a></li>
			<li><a href="/espacio">El Espacio</a></li>
			<li><a href="/eventos">Eventos</a></li>
			<li><a href="/blog">Blog</a></li>
			<li><a href="/nosotros">Sobre Nosotros</a></li>
			<li><a href="/contacto">Contacto</a></li>
		</ul>
	</section>
</footer>
