
body{
	background-image: url('../images/fondo3.jpg'); 
	background-attachment: fixed;
	width: 100%;
}

.cabecera {
	height: 200px;
	background-size:100%;
	margin-bottom: 3%;
}

.logo {
	width: 13%;
	margin: 0 auto;
	margin-top: 2%;
}	

.menu {
	width: 65%;
	margin: 0 auto;
}

nav ul {
	font-family: verdana;
	font-size: 90%;
	text-align: center;
	list-style-type: none;
	margin: 0 auto;
	border-width: 3px;
	border-style: solid;
	background-color: #262626;
	border-color: #262626;
	border-radius: 28px;
	padding: 1%;
}
nav li {
	display: inline;
 	text-align: center;
    list-style-type: none;
    padding: 1.3% 2% 1.4% 2%;
    margin: 0 2% 0 2%;
}
a:link {
	text-decoration:none;
	color:#FFFFFF;
}
a:visited {
	color:#FFFFFF;
	text-decoration:none;
}
a:active {
	color:#FFFFFF;
	text-decoration:none;
}
nav li:hover {
	background-color: #FF2B56;
	transition-duration: 0.5s;
	color:#FFFFFF;
}

article {
	width: 80%;
	display: block;
	margin: 0 auto;
	margin-top: 5%;
	margin-bottom: 0px;
	background-color: #40e0d0;
	padding: 15px;
	padding-bottom: 0px;
	border-radius: 50px 50px 0px 0px;
	text-align: justify;
	font-family: 'Josefin Slab', serif;
	font-size: 110%;
}

h1 {
	font-size: 250%;
	width: 100%;
	text-align: left;
	margin-bottom: 1%;
	margin-top: 0.5%;
	font-family: verdana;
}
.papi {
	margin-top: 1.5%;
}

.barracoment {
	width: 27%;
	height: 20px;
	border-radius: 20px;
	margin-left: 31%;
}

.boton {
	background-color: black;
	color: white;
	border-radius: 20px;
	
}

.comentarioSecundario {
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 1%;
	padding: 1%;
	background-color: #dcdcdc;
	border-radius: 30px;
	text-align: justify;
	font-family: 'Josefin Slab', serif;
	font-size: 90%;
}
.complement{
	width: 81.9%;
	height: 40px;
	margin: 0 auto;
	background-color: #40e0d0;
	border-radius: 0px 0px 50px 50px;
}

.fin {
	width: 100%;
	height: 250px;
	background-image: url('../images/texturafooter.jpg');
	background-repeat: no-repeat;
	background-size:100% 100%;
	margin-top: 50px;
}
footer ul {
	font-family: verdana;
	font-size: 100%;
	text-align: center;
	list-style-type: none;
	margin: 0 auto;
	margin-top: -2%
}
footer li {
	display: inline;
 	text-align: center;
    list-style-type: none;
    padding: 1.4% 2% 1.4% 2%;
    margin: 0 2% 0 2%;
}
footer li:hover {
	font-size: 150%;
	transition-duration: 1s;
}
.redessociales {
	display: block;
	width: 25%;
	margin:0px auto;
}
.redes {
	margin: 0 auto;
	margin: 5%;
	display: inline-block;
}


