.brand_image img{
	display: none;
}

.brand_image{
	width: 500px;
	height: 300px;
	float: right;
	margin-right: 10%;
	margin-bottom: 10px;

}
#list {
	float: left;
	margin-top: 2%;
	margin-left: 21%;
}
.brand {
	color: white;
	font-family: verdana;
	font-size: 180%;
	line-height: 2em;
	font-style: oblique;
	text-shadow: 0 0 40px black;
}

.brand:hover{
	color: #FF2B56;
}

.img_brand {
	border-style: groove;
	border: 3px solid white;
}