.logo {
	width: 13%;
	margin: 0 auto;
	margin-top: 2%;
}

.map{
	margin: 0 auto;
	width: 70%;	
	height: 533px;

}
.cajaEventos{
	width: 400px;
	height: 200px;
	background-color: white;
	display: inline-block;
	float: right;
	margin-top: 200px;
	margin-right: 100px;
}
#mapa{
	width: 400px;
	height: 533px;
	orgHeight: 533px;
	orgWidth: 400px;
}